{{!-- For adding your own blog posts --}}
<ul>
    {{#each posts as |post|}}
        <a href="/post/{{post.id}}">
            <li>
                <section>
                    <h2>{{post.title}}</h2>
                    <section>
                        <p>{{post.User.name}}</p>
                        <p>{{post.createdAt}}</p>
                    </section>
                </section>               
                <p>{{post.body}}</p>
            </li>
        </a>
        {{!-- <button id="post-edit">Edit</button>
        <button id="post-delete">Delete</button> --}}
    {{/each}}
</ul>

{{!-- Form for adding new posts --}}
<form id="new-post">
    <input type="text">
    <textarea name="" id="" cols="30" rows="5"></textarea>
    <button type="submit">Add Post</button>
</form>

<script src="/js/dashboard.js"></script>