{{!-- Where you can add comments --}}
<li class="post">
    <section>
        <h2>{{title}}</h2>
        <p>{{User.name}}</p>
    </section>                
    <p>{{body}}</p>
</li>

<ul class="comments">
    {{#each Comments as |comment|}}
        <li class="comment">
            <section>
                <h2>{{comment.User.name}}</h2>
            </section>                
            <p>{{comment.body}}</p>
        </li>
    {{/each}}
</ul>

<form action="">
    <input type="text">
    <button type="submit">New Comment</button>
</form>