{{!-- Where you can add comments --}}
<li class="post">
    <section>
        <h2 class="title">{{post.title}}</h2>
        <aside>
            <p>{{post.User.name}}</p>
            <p class="date">{{post.createdAt}}</p>
        </aside>
    </section>                
    <p class="body">{{post.body}}</p>
</li>

<ul class="comments">
    {{#each post.Comments as |comment|}}
        <li class="comment post">
            <section>
                <h3>{{comment.User.name}}</h2>
                <p>{{comment.createdAt}}</p>
            </section>                
            <p class="body">{{comment.body}}</p>
        </li>
    {{/each}}
</ul>

{{#if cookie.logged_in}}
<form id="new-comment">
    <input type="text">
    <button type="submit">New Comment</button>
</form>
{{/if}}

<script src="/js/post.js"></script>