{{!-- Where you can add comments --}}
<li class="post">
    <section>
        <h2>{{post.title}}</h2>
        <p>{{post.User.name}}</p>
    </section>                
    <p>{{post.body}}</p>
</li>

<ul class="comments">
    {{#each post.Comments as |comment|}}
        <li class="comment">
            <section>
                <h2>{{comment.User.name}}</h2>
                <p>{{comment.createdAt}}</p>
            </section>                
            <p>{{comment.body}}</p>
        </li>
    {{/each}}
</ul>

<form id="newComment">
    <input type="text">
    <button type="submit">New Comment</button>
</form>

<script src="/js/post.js"></script>